<%= form_with url: '/users' do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, required: true %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
