<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
<div class="welcome">
    <div class="card-body" id="login-card">
        <h1 class="card-title">Login</h1>
        <%= bootstrap_form_with url: '/auth/login' do |form| %>
            <div class="row">
                <div class="login-text-field">
                <%= form.text_field :email, placeholder:"Email address"%>
                </div>
            </div>
            <div class="row">
                <div class="login-text-field">
                <%= form.password_field :password, placeholder: "Password"%>
                </div>
            </div>
            <div style="text-align: center">
                <%= form.submit 'Login', class: 'loginBtn'%>
            </div>
        <% end %>
        <div class="notice"><%= notice %></div>
        <div style="text-align: center">
            <span id="dont-account">Don't have an account? </span>
            <a class="card-link" href="/users/new">Sign up</a>
        </div>
    </div>
</div>