<!--<p id="notice"><%= notice %></p>-->
<div class="welcome">
<a id="btn-enter" href="/activities/fill">Get Data</a> 
<h2 id="welcome-name">Bienvenid@ <%=@current_user['name'] %></h2>
<h2 id="repository-name">Repositorios</h2>
<div class="repositories">

<table class="promTable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Creador</th>
    </tr>
  </thead>

  <tbody>
    <% @repos.each do |repository| %>
        <tr>  
        <td><%= repository[:name]%></td>
        <td><%= repository[:description]%></td>
        <td><%= repository[:creator]%></td>
        </tr>
      <% end %>
  </tbody>
</table>

</div>
<h2 id="repository-name">Feed</h2>
<table class="promTable">
  <thead>
    <tr>
      <th>Repositorio</th>
      <th>Descripcion</th>
      <th>Tipo</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
        <tr>  
        <td><%= activity['repository']%></td>
        <td><%= activity['description']%></td>
        <td><%= activity['type']%></td>
        <td><%= activity['date']%></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>
