<!--<p id="notice"><%= notice %></p>-->
<div class="home">
<div class="navbarr">
  <h2 class="navbar-title">GitHub</h2>
  <a class="btn-get-data" href="/activities/fill">Get Data</a> 
</div>
<div class="main-container">
<div class="left-container">
<div class="user-card">
<h2 class="user-name"><%=@current_user['name'].gsub(/\s+/, "").downcase %></h2>
</div>
<div class="repos-card">
<h2 class="repositories-name">Repositorios</h2>

<table class="repositoriesTable">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repos.each do |repository| %>
        <tr>  
        <td class="repo"><%= repository[:creator].gsub(/\s+/, "").downcase+"/"+repository[:name].gsub(/\s+/, "").downcase%></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>
<div class="user-card">
</div>
</div>

<div class="right-container">
    <% @activities.each do |activity| %>
      <div class="activity-item">
      <div class="title-row">
        <h3><%=activity['title']%></h3>
      </div>
      <div class="description-card">
      <div class="title-row">
      <%=activity['description']%>
      </div>
      <div class="title-row">
      <%=activity['date']%>
      </div>
      </div>
      </div>
      <% end %>
</div>
</div>
</div>
